
@{
    ViewBag.Title = "Index";
}
@if (TempData.ContainsKey("message"))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.message
    </div>

}
@foreach (var team in ViewBag.Teams)
{
    <h3><a href="/Team/Show/@team.TeamId">@team.Name@team.TeamId</a></h3>
    <hr />
    <br />
}
<input type="button" class="btn btn-outline-info" value="Create new team" onclick="@("window.location.href='" + @Url.Action("/New","Team") + "'");" />


<br />
